/*此文件夹放公用的样式*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #363d47;
  font-family: "微软雅黑";
  font-size: 14px;
  box-size: border-box;
}
ul,
ol,
li {
  padding: 0;
  list-style: none;
}
.clear-float {
  content: '';
  height: 0;
  line-height: none;
  display: block;
  visibility: hidden;
  clear: both;
}
