/*此文件夹放公用的样式*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #363d47;
  font-family: "微软雅黑";
  font-size: 14px;
  box-size: border-box;
}
.box {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.contant {
  width: 100%;
  min-height: 600px;
  background-color: white;
  padding-bottom: 20px;
}
ul,
ol,
li {
  padding: 0;
  list-style: none;
}
.am-topbar {
  border: none;
  margin-bottom: 0;
  background-color: #363d47 !important;
}
.am-topbar a {
  color: #fff !important;
}
.am-nav > li > a:focus,
.am-nav > li > a:hover {
  cursor: pointer !important;
  background-color: #2b3f71 !important;
}
.am-btn-success:focus,
.am-btn-success:hover {
  background-color: #739bfd !important;
}
.am-btn-success {
  color: #fff;
  background-color: #739bfd;
  border-radius: 3px;
  border: none;
}
.clear-float {
  content: '';
  height: 0;
  line-height: none;
  display: block;
  visibility: hidden;
  clear: both;
}
